@tailwind base;
@tailwind components;
@tailwind utilities;

#navBar {
  background: url('./images/intro.gif') center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}

#courseCard {
  background: url('./images/card.jpg') center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#quickRegister {
  background: url('./images/quick.png') center;
  background-repeat: no-repeat;
  background-size: cover;
}

#feature {
  background: url('./images/feature.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width:964px) {
  #banner {
    height: 260px;
  }
}